/*html, */
	body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	color: #555;
	line-height:1.5em;
	width: 100%;
	margin: 0;
	padding: 0;
	}
	
	h1 {
	color: #696969;
	font-size: 2.5em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: bold;
	}
	
	h2 {
	color: #006633;
	font-size: 1.5em;
	font-weight: normal;
	
	}
	
	p {
	color: #696969;
	}
	
	a {
	text-decoration: none;
	color: #1E1E1E;
	}
	
	a:hover {
	color: #FFCC33;
	}
	table {
	  width: 100%;
	}
	th, td {  
		padding: 0.3em;
		padding-bottom: 0.3em;
	}
	th.author {
	  width: 30%; 
	  vertical-align: top;
	}
	th.title, {
		width: 45%; 
	  vertical-align: top;
	}
	th.dl, th.id {
	  width: 5%; 
  	font-weight: bold;
	}

	.content {
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	width: 100%;
	max-width: 60em;
	box-sizing: border-box;
	}
	
	.title {
	padding-bottom: 0.3em;
	margin-top: 0;
	padding-bottom: 0.3em;
	/*border-bottom: 1px solid #E8E8E8;*/
	}
	
	section {
	border-top: 0.1em solid #E8E8E8;
	}
	
	.pub-list {
	list-style-type: none;
	padding: 0;
	}
	
	.pub-list p {
	margin: 0;
	}
	
	.pub-list .paper-title {
	font-weight: bold;
	}
	
	.pub-list li {
	margin-top: 1.5em;
	}
	
	.pub-list li:first-child {
	margin-top: 0;
	}
	
	.link-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	}
	
	.link-list li {
	display: inline;
	padding: 0;
	}
	
	.link-list li:before {
	content: '[';
	}
	
	.link-list li:after {
	content: ']';
	}
	
	.email {
	margin-bottom: 0;
	}
	
	.cv {
	margin-top: 0;
	}
	.btn {}
	/*.btn {
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 2px 5px 1px 5px;
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
    color: black;
    text-decoration: none;
	}*/

	.nav {}

	.arxiv {}

	.proc {}

	.slides {}
	.poster {}

	/* Add a black background color to the top navigation */
.topnav {
  background-color: #fff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #696969;
  text-align: center;
  padding: 0.1em 1em;
  text-decoration: none;
  font-size: 1em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FFCC33;
  color: #696969;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #006633;
  color: white;
}

	/*.nav {background-color:#3741521f;}

	.arxiv {background-color:#97e2a7b9;}

	.proc {background-color:#e7a9a1b0;}

	.slides {background-color:#3741521f;}
	.poster {background-color:#3741521f;}*/