html, body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #555;
    line-height:1.5em;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color:  #041E42;
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h2 {
    color: #555;
    font-size: 1.5em;
    font-weight: normal;

}

p {
    color: #777;
}

a {
    text-decoration: none;
    color:  #041E42;
}

a:hover {
    color: #FFC72C;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    width: 100%;
    max-width: 60em;
    box-sizing: border-box;
}

.title {
    margin-top: 0;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #E8E8E8;
}

section {
    border-bottom: 1px solid #E8E8E8;
}

.pub-list {
    padding: 0;
    list-style-type: none;
}

.pub-list p {
    margin: 0;
}

.pub-list .paper-title {
    font-weight: bold;
}

.pub-list li {
    margin-top: 1.5em;
}

.pub-list li:first-child {
    margin-top: 0;
}

.link-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-list li {
    display: inline;
    padding: 0;
}
    
.link-list li:before {
    content: '[';
}

.link-list li:after {
    content: ']';
}

.email {
    margin-bottom: 0;
}

.cv {
    margin-top: 0;
}
